.app {
  text-align: center;
}

header {
  border-bottom: 1px solid #999;
  margin-bottom: 12px;
}

footer {
  border-top: 1px solid #999;
  display: block;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left:0;
}
